body{
    text-align: center;
    background-color: gray;
    overflow: hidden;
}

.container{
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    .box{
        position: relative;
        height:385px;
        width: 590px;
        background-color: aqua;
    }
}

